@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
  font-family: Zen Antique Soft;
  background-color: cornsilk;
}

h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: normal;
}

#instructions {
  float: right;
  height: 20rem;
  width: 20rem;
  font-size: 1.25rem;
  margin-right: 10rem;
  margin-top: 0;
  margin-left: 5%;
}

#instructions>h2 {
  margin-top: 0;

}

#score-area {
  float: right;
  width: 20rem;
  font-size: 1.25rem;
  margin-right: 10rem;
  margin-left: 5%;
  clear: both;
}

table {
  margin-left: 5%;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  width: 8rem;
  height: 4rem;
  text-align: center;
}