@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
  font-family: "Zen Antique Soft";
  background-color: cornsilk;
}

h1 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 0;
}

#instructions {
  float: right;
  width: 40vw;
  font-size: 1.25rem;
  margin-right: 5vw;
  margin-top: 0;
  margin-left: 5%;
}

#instructions>h2 {
  margin-top: 0;

}

#score-area {
  float: right;
  width: 40vw;
  font-size: 1.25rem;
  margin-right: 5vw;
  margin-left: 5%;
  clear: both;
}

table {
  margin-left: 5vw;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  width: 8vw;
  height: 5vw;
  text-align: center;
}

/*Prevents pointer-events from being fired out of order*/
.word {
  pointer-events: none;
}

/*Disable class added by the checkAnswer function*/
.disable {
  pointer-events: none;
}

/*Adds green background color to correct answer via the checkAnswer function*/

.greenBackground {
  background-color: green;
}

/*Adds red background color to correct answer via the checkAnswer function*/

.redBackground {
  background-color: red;
}

/* Codepen*/

/*$avatar-size: 32px;
$body-background: #353535;*/

/*body {
  height: 100vh;
  margin: 0;
  background-color: body-background;
  font-family: "ubuntu", Arial, sans-serif;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}*/


/*.text-effect {
  font-family: "Zen Antique Soft", sans-serif;
  background: linear-gradient(to right, gold 10%,black 50%,silver 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: gold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5.5s linear infinite;
  display: inline-block;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
*/
/*text effects*/



/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* media queries */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {

  #instructions,
  #score-area {
    width: 30vw;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {

  #instructions,
  #score-area {
    width: 30vw;
    font-size: 1rem;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #instructions,
  #score-area {
    font-size: 1rem;
  }

  #instructions {
    height: auto;
    width: auto;
  }

  #score-area{
    width: auto;
    float: none;
  }

  td {
    font-size: 0.80em;
    width: 10vw;
    height: 6vh;
  }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 411px to 480px
*/

@media only screen and (max-width: 410px) {

  #instructions,
  #score-area {
    font-size: 1rem;
  }

  #instructions {
    height: auto;
    width: auto;
  }

  #score-area{
    width: auto;
    float: none;
  }

  td {
    font-size: 0.80em;
    width: 10vw;
    height: 6vh;
  }

@media only screen and (max-width: 410px){
  
  #instructions,
  #score-area {
    font-size: 1rem;
  }

  #instructions {
    height: auto;
    width: auto;
  }

  #score-area{
    width: auto;
    float: none;
  }

  td {
    font-size: 0.80em;
    width: 10vw;
    height: 6vh;
  }
}}