@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
  font-family: Zen Antique Soft;
  background-color: cornsilk;
}

h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: normal;
}

#instructions {
  float: right;
}

#score-area {
  float: right;
}

table {
  margin-left: 5%;
  }

table,
th,
td {
  border: 1px solid black;
}

td {
  width: 5rem;
  height: 4rem;
  text-align: center;
}